@import "tools";

.PageContainer {
  &.is-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
  }
}

.bg-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  background-color: get-color(primary-light);
  background-image: linear-gradient(to top right, get-color(primary-light), get-color(primary));
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  opacity: 0.1;
  filter: saturate(0.1);
  background-image: url(https://images.unsplash.com/photo-1562337589-136d8a7dd9dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
  background-size: cover;
}
