@import "tools";

.Header {
  padding-top: 1rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  transition: 0.4s;

  @include media(800px, max) {
    background-color: rgba(#fff, 0.95);
    box-shadow: 0 2px 8px rgba(#000, 0.1);
  }

  @include media(800px) {
    position: absolute;
    padding-top: 3rem;
  }
}

.Header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-logo {
  display: block;
  height: 5rem;
  transition: 0.4s;

  @include media(600px) {
    height: 8rem;
  }

  @include media(800px) {
    height: 17rem;
  }
}
