// @source https://engageinteractive.co.uk/blog/top-10-scss-mixins
@mixin media($width, $type: "min") {
  @if $type == "max" {
    $width: $width - 1px;
  }
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin media-range($start-width, $end-width) {
  @media only screen and (min-width: $start-width) and (max-width: $end-width - 1) {
    @content;
  }
}
