@import "tools";

.FooterUpper {
  background-color: get-color(primary);
  background-color: #fff;
  color: rgba(#333, 0.9);
  font-size: 1.4rem;

  > .container {
    @include media(800px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.FooterUpper-col {
  margin-bottom: 4.5rem;

  @include media(1100px) {
    width: calc(100% / 3);
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &.--logo {
    @include media(800px) {
      padding-right: 2rem;
    }

    @include media-range(800px, 1100px) {
      width: 35rem;
    }
  }

  &.--patrocinio {
    @include media-range(800px, 1100px) {
      width: calc(100% - 35rem);
      padding-left: 2rem;
    }

    @include media(1100px) {
      padding-right: 2rem;
    }
  }
}

.FooterUpper-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1;
  position: relative;
}

// Logo

.FooterUpper-logo-container {
  margin-bottom: 2rem;
  height: 7rem;
}

.FooterUpper-logo {
  display: block;
  height: 100%;
}

.FooterUpper-sobre {
  font-size: 1.6rem;
}

// Patrocinio

.FooterUpper-patrocinio-list {
  display: flex;
  flex-wrap: wrap;
}

.FooterUpper-patrocinio-item {
  padding: 0.5rem;
}

.FooterUpper-patrocinio-image {
  display: block;
}

// Contato

// .FooterUpper-contato-listing {}

.FooterUpper-contato-item {
  display: flex;
  margin-bottom: 0.8rem;
}

.contato-item__icon {
  margin-right: 1rem;
}

.contato-item__content {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// .AppDownload {}

.AppDownload__item {
  width: 100%;
  max-width: 15rem;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
    width: 100%;
    display: block;
    height: auto;
  }

  > a {
    transition: 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }
}
