@import "tools";

.SubFooter {
  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.Copyright {
  font-size: 1.2rem;
  font-weight: 500;
  color: get-color(primary);
}

.Social {
}

.Social-item {
  color: get-color(primary);
  font-size: 2.2rem;
  display: inline-block;
  padding: 0 0.5rem;
}
