.button {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;

  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: 0;

  color: #fff;

  cursor: pointer;
  transition: 0.4s;
}

.button.gradient {
  background-color: #333;
  background-image: linear-gradient(to right, #888, #333, #333);
  background-position: left;
  background-size: 200% auto;

  &:hover {
    background-position: right;
  }
}

.button.gradient.primary {
  background-color: get-color(primary);
  background-image: linear-gradient(
    to right,
    get-color(primary-lighter),
    get-color(primary),
    get-color(primary)
  );
}

.button.gradient.secondary {
  background-color: get-color(orange);
  background-image: linear-gradient(
    to right,
    get-color(secondary-light),
    get-color(secondary),
    get-color(secondary)
  );
}
