@import "tools";

.FloatingPlayer {
  color: #333;
  padding: 2rem 0;
  padding: 1.5rem;

  @include media(400px) {
    padding: 2rem;
  }
}

.FloatingPlayer-box {
  width: 100%;
  max-width: 45rem;
  background-color: #fff;
  box-shadow: 0 10px 40px -14px rgba(#000, 0.25);
  border-radius: 5px;
}

.FloatingPlayer__container {
  max-width: 110rem;
  margin: auto;

  display: flex;
  align-items: center;
}

.FloatingPlayer__controls {
  cursor: pointer;
  width: 6rem;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: none;

  background-color: get-color(orange);
  background-image: linear-gradient(
    to right,
    get-color(secondary-light),
    get-color(secondary),
    get-color(secondary)
  );
  background-size: 200%;
  color: #fff;
  border-radius: 50%;
  transition: 0.4s;

  &.is-playing {
    animation: pulsing 2.5s infinite;
  }

  &:hover {
    background-position: right;
  }
}

.FloatingPlayer__pause {
  font-size: 2rem;
}

.FloatingPlayer__play {
  font-size: 2rem;
  margin-left: 0.2rem;
}

.FloatingPlayer__info {
  padding-left: 2rem;
  width: 100%;
}

@keyframes pulsing {
  0% {
    box-shadow: 0 0 0 0px rgba(get-color(orange), 0.5);
  }

  50% {
    box-shadow: 0 0 0 6px rgba(get-color(orange), 0.5);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(get-color(orange), 0.5);
  }
}

.FloatingPlayer__station-name {
  color: #124c91;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}

.FloatingPlayer__station-freq {
  font-size: 1.4rem;
  color: #666;
}

.FloatingPlayer__bottom-container {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #e8e8e8;

  display: flex;
  align-items: center;

  @include media(500px, max) {
    flex-wrap: wrap;
  }
}

.FloatingPlayer__share {
  padding: 0.7rem;

  @include media(400px, max) {
    width: 100%;
    margin-bottom: 1rem;
  }

  @include media(400px) {
    flex: 0 1 50%;
  }

  > .icon {
    margin-right: 0.5rem;
  }
}

.FloatingPlayer__station-picker {
  padding: 0.7rem;

  @include media(400px, max) {
    width: 100%;
  }

  @include media(400px) {
    margin-left: 1rem;
    flex: 0 1 50%;
  }

  @include media-range(400px, 500px) {
    flex: 0 1 calc(50% - 1rem);
  }

  > .icon {
    margin-right: 0.5rem;
  }
}

.FloatingPlayer__volume-container {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;

  @include media(500px, max) {
    margin-bottom: 1rem;
  }

  @include media(500px) {
    max-width: 12rem;
    padding-right: 3rem;
  }
}

.FloatingPlayer__volume-icon-container {
  margin-right: 1rem;
  cursor: pointer;
}

.FloatingPlayer__volume {
  width: 100%;
}
