@import "tools";

// .Share {}

.Share-item {
  background-color: #fff;
  border: 2px solid #e8e8e8;

  display: flex;
  align-items: center;

  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 0.8rem;

  cursor: pointer;
  transition: 0.2s;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    &.whatsapp {
      border-color: get-color(whatsapp);

      .Share-icon {
        color: get-color(whatsapp);
      }
    }

    &.facebook {
      border-color: get-color(facebook);

      .Share-icon {
        color: get-color(facebook);
      }
    }
  }
}

.Share-icon {
  color: #777;
  margin-right: 1rem;
  transition: 0.2s;
}

.Share-name {
  color: #555;
  font-size: 1.6rem;
  font-weight: bold;
}
