// .StationPicker {}

.StationPicker-item {
  background-color: #fff;
  border: 2px solid #e8e8e8;

  display: flex;

  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 0.8rem;

  cursor: pointer;
  transition: 0.2s;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    border-color: rgba(#f89015, 0.6);
  }

  &.is-selected {
    border-color: #f89015;

    .StationPicker__name {
      color: #124c91;
    }

    .StationPicker__icon {
      color: #f89015;
      animation: stationPulsing 1.5s infinite;
    }
  }
}

.StationPicker__icon {
  margin-right: 1rem;
  color: #eee;
}

// .StationPicker__text {}

.StationPicker__name {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  color: #666;

  transition: 0.2s;
}

.StationPicker__freq {
  font-size: 1.4rem;
  color: #666;
}

@keyframes stationPulsing {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
