/**
 * Fontes customizadas
 */
$font-family-primary: "Poppins";
$font-family-secondary: "Poppins";

/**
  * Fontes de sistema (para fallback)
  */
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: serif;

/**
  * Font stack completo
  */
$font-family-body: #{$font-family-primary}, #{$font-family-sans-serif};
$font-family-heading: #{$font-family-secondary}, #{$font-family-sans-serif};

$font-families: (
  heading: $font-family-heading,
  body: $font-family-body,
);
